{% comment %} {{data.n}} <br>
{{data.a}}<br>
{{data.c}}<br> {% endcomment %}

{{data.n|upper}} <br>
{{data.a|lower}}<br>
{{data.c|capfirst}}<br>
{{data.p|title}}<br>
{{data.p|truncatechars:5}}<br>
{{data.p|truncatewords:2}}<br>
{{data.p|wordcount}}<br>
{{data.p|length}}<br>
<pre>{{data.n|center:"50"}}</pre><br>
<pre>{{data.n|ljust:"50"}}</pre><br>
<pre>{{data.n|rjust:"50"}}</pre><br>
{{data.n|default:"guest"}} <br>
{{data.p|cut:" "}} <br>
{{data.p|cut:"i"}} <br>
{{data.l|join:"-"}} <br>








